<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        body {
            
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100vh;
            margin: 0;
        }

        .custom-container 
        {
            max-width: 50px; 
        }

        .card 
        {
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        }

        .card-title {
            text-align: center;
        }

        .form-group {
            margin-bottom: 1rem;
        }

        .btn-login {
            background-color: #e74c3c; 

            color: black; 

        }

            .btn-login:hover {
                background-color: cornflowerblue; 
            }
    </style>

</head>


<body>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
